
.yelow{

  border:1px solid yellow;
}

.space{
  margin-right: 10px;
  margin-top:5px;
}

.blue{
  color: blue;

}
.cursor{
  cursor: pointer;
}

.red{
  color: red;
}

.bold{
  font-weight: 600;
}

.hiden{
  display: none;
}
