<div class="card">
  <div class="card-header bg-info text-white">
    <b>Rejestracja.</b>
  </div>
  <div class="card-body">
    <label for="regName">Nazwa użtykownika:</label><br/>
    <input type="text" class="form" id="regName"><br/>
    <label for="regPass">Hasło:</label><br/>
    <input type="text" class="form" id="regPass"><br/>
    <label for="regPass2">Powtórz hasło:</label><br/>
    <input type="text" class="form" id="regPass2"><br/><br/>
    <input type="button" name="" value="Gotowe" class="btn btn-primary" id="regBtn">
  </div>

</div>
