
<!-- <br/><input type="text" name="" value="" id="infoName"></br>
<br/><input type="text" name="" value="" id="infoKontakt"><br/>
<br/><input type="text" name="" value="" id="infoGodziny"><br/>
<br/><input type="text" name="" value="" id="infoTelefon"><br/>

<br/><input type="text" name="" value="" id="infoUser"><br/> -->
<div class="card">
  <div class="card-header bg-info text-white">
    <span class="" id="infoName"></span>
  </div>
  <div class="card-body">
    <span class="card-info-small" >Osoba do kontaktu:</span><br/>
    <span class="" id="infoKontakt"></span><br/>
    <span class="card-info-small" >Numer telefonu:</span><br/>
    <span class="" id="infoTelefon"></span><br/>
    <span class="card-info-small" >Magazyn czynny w godzinach:</span><br/>
    <span class="" id="infoGodziny"></span><br/>
    <span class="card-info-small" >Wpis dodany przez:</span><br/>
    <span class="" id="infoUser"></span><br/>
  </div>
</div>
<br/>
<input class="btn btn-primary" type="button" name="" value="Start pracy" id="startPracy">
<input class = "btn btn-danger" type="button" name="" value="Koniec pracy" id="koniecPracy"><br/>
