<br/><input type="text" name="" value="" id="infoName"></br>
<br/><input type="text" name="" value="" id="infoKontakt"><br/>
<br/><input type="text" name="" value="" id="infoGodziny"><br/>
<br/><input type="text" name="" value="" id="infoTelefon"><br/>
<!-- <br/><input type="text" name="" value="" id="infoName"><br/> -->
<br/><input type="text" name="" value="" id="infoUser"><br/>

<br/><br/><input type="button" name="" value="Start pracy" id="startPracy"><br/>
<br/><br/><input type="button" name="" value="Koniec pracy" id="koniecPracy"><br/>
