<div class="container full">
  <div class="row">
    <select id="newErrorTruck">
      <option value="JUNIOR">JUNIOR</option>
      <option value="EFG">EFG</option>
      <option value="ETV">ETV</option>
      <option value="TFG">TFG</option>
      <option value="SYSTEM">SYSTEM</option>

    </select>

  </div>


  <div class="row topSpace">

    <input type="text" id="newErrorNumber" placeholder="Numer błędu">
    <input type="text" id="newErrorIndex" placeholder="Index">
  </div>

  <div class="row topSpace">
    <textarea id="newErrorContent" rows="8" cols="80"></textarea>

  </div>

  <div class="row topSpace">

   <select class="" id="newErrorStatus">
     <option value="publiczny">publiczny</option>
     <option value="prywatny">prywatny</option>
   </select>

   <input type="button" class="btn btn-primary" value="Zapisz" id="errorSave">
  </div>
</div>
